
.navbar {
    height: 85px;
    justify-content: center;
    background-color: #f98cc2;
    }
    .navbaritem{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1%;
    }
    .navbarlink{
      color: rgb(248, 247, 247) !important;
      font-weight: bold ;
      font-size: large;
    }
     .ant-menu-item::after, .ant-menu-submenu::after {
        border: none !important;
    }
    .ant-menu-item-selected {
      color: #09090a !important;
    }
    /* footer css başlangıç*/
.footer {
   width: 100% ;
   height: 250px;
   background: #f98cc2;
   display: flex ;
   justify-content: center;
   align-items: center ;
   flex-direction: column ;
   padding-top: 10px ;
   
 }
 
 .socialMedia svg {
   color: white;
   margin: 20px ;
   font-size: 70px;
   cursor: pointer;
 }
 
 .footer p {
   color: white;
 }
 
 @media only screen and (max-width: 600px) {
   .footer svg {
     font-size: 50px ;
   }
 }
 .iconbtn{
   margin: 5rem;
   right: 2rem;
  
 }
 /* footer css bitiş */
 .home {
   width: 100%;
   align-items: center;
   font-family: "Arial", sans-serif;
   background-color: #f98cc2;
 }
 
 .about {
   width: 100%;
   height: calc(100vh - 100px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #f98cc2;
   color: #f0f0f0;
 }
 
 .about h2 {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 80px;
   color: #e34497;
   height: 50px;
   margin-bottom: 70px;
 }
 
 .about .prompt {
   width: 40%;
   font-size: 30px;
 }
 .prompt svg {
   font-size: 60px;
   margin: 5px;
   color: white;
 }
 .skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.skills h1 {
  color: #e34497;
}

.skills .list {
  list-style: none;
  width: 60%;
  color: #f0f0f0;
}

.list span {
  font-size: 20px;
}
.skills h2{
  margin-top: 20px;
  color: #e34497;
}
@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
 
    
    
      
    